@model WeatherMVC.Models.RainObservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RainObservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IncchesRain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncchesRain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeatherStationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeatherStationID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ObservationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
